.about {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.about-title {
  font-size: 1.5em;
  padding-top: 50px;
}

.about-content {
  display: flex;
  padding: 25px 15vw;
}

.about-content-left {
  flex: 50%;
  padding-right: 5vh;
}

.profile-pic {
  border: 7px solid #00838f;
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
  margin: 30px auto;
  overflow: hidden;
}

.profile-pic img {
  height: 100%;
  margin-left: -35px;
  width: auto;
}

.about-content-right {
  flex: 50%;
  padding: 20px 0px 30px 5vh;
}

@media only screen and (max-width: 800px) {
  .about-content {
    flex-wrap: wrap;
  }

  .about-content-left, .about-content-right {
    flex: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
