.Sidebar {
  background-color: #e0e0e0;
  color: #424242;
  position: fixed;
  height: 100%;
  width: 20%;
  min-width: 175px;
  margin-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profpic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 30px auto;
  overflow: hidden;
}

.profpic img {
  height: 100%;
  margin-left: -35px;
  width: auto;
}
