.skillbar {
  color: #ffffff;
  font-size: 0.9em;
  height: auto;
  width: 100%;
}

.skillbar-item-list {
  padding: 0;
}

.skillbar-item {
  display: flex;
  margin: 10px 0;
  transition: width 300ms ease-in-out;
}

.skillbar-item.collapsed {
  width: 0 !important;
}

.skillbar-item-name {
  flex: 10%;
  font-weight: bold;
  text-align: left;
  padding: 5px 10px;
}

.skillbar-item-value {
  flex: 90%;
  font-weight: normal;
  text-align: right;
  padding: 5px 10px;
}
