.project {
  background-color: #eceff1;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.project-title {
  font-size: 1.5em;
  padding-top: 50px;
}

.project-content {
  display: inline-block;
  padding: 50px 18vw 75px 18vw;
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .project-content {
    padding: 50px 10vw;
  }
}

@media only screen and (max-width: 600px) {
  .project-content {
    padding: 50px 0;
  }
}
