.project {
  background-color: #4fb3bf;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.project-title {
  font-size: 1.5em;
  padding-top: 50px;
}

.project-content {
  display: flex;
  padding: 50px 30px;
}
