.home {
  background-color: #00838f;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', sans-serif;
}

.home h2 {
  font-size: 1.5em;
}

.home h3 {
  font-size: 1.17em;
}
