.navbar {
  color: #ffffff;
  background-color: #005662;
  border-bottom: 5px solid #4fb3bf;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
}

.navbar-item-list {
  margin: 0;
  padding: 0;
}

.navbar-item {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 13px 16px;
  text-transform: uppercase;
  transition: 250ms ease-in-out;
}

.navbar-item.current, .navbar-item:hover {
  color: #102027;
}
