.project-popup {
  color: #102027;
  height: 100%;
  width: 100%;
}

.popup-img {
  align-items: center;
  display: flex;
  height: 65%;
  overflow: hidden;
}

.popup-img img {
  height: auto;
  width: 100%;
  vertical-align: middle;
}

.popup-title {
  margin: 20px 60px;
}

.popup-text {
  margin: 0px 60px;
}

.popup-action {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

.popup-action button {
  margin: 0px 5px;
}
