.app {
  color: #102027;
  height: 100%;
  width: 100%;
  text-align: center;
}

#navbar {
  top: 0;
  position: sticky;
  position: -webkit-sticky;  /* Safari compatibility */
  z-index: 1;
}

.ghost-btn {
  color: #102027;
  background: transparent;
  border: 2.5px solid #005662;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  transition: color 250ms linear, background 250ms linear;
}

.ghost-btn:hover {
  color: #ffffff;
  background: #005662;
}
